<html>
  <head>
    <title>Evento: About Us</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <center>
        <h1 class="titleText">Evento</h1>
        <div class="menuDiv">
          <a href="/" class="menuItem">Home</a>
          <a href="/events" class="menuItem">Events</a>
          <a href="/about-us" class="menuItem">About Us</a>
          <a href="/contact-us" class="menuItem">Contact Us</a>
          <hr size="1" width="60%" style="margin-top: 10px;" />
        </div>
      </center>
    </header>
    <center>
      <div class="upEventsTitleDiv">
        <h3 class="opensans bold">About Us</h3>
      </div>
    </center>
    <div style="margin: 10px;">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem
      enim aperiam illum sit iure dicta recusandae deserunt quis at autem sequi
      nemo laborum, consequatur rem eaque voluptatem animi, error illo? Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam maxime
      veritatis id deleniti nesciunt, ipsa officiis corporis nobis ad facilis
      quidem vel accusamus atque iste reiciendis expedita ea deserunt esse
      consequuntur doloribus a? Esse fugit eos ipsam laboriosam quis officia
      minus, nulla optio eveniet facilis in perferendis assumenda similique
      sequi ut enim. Quasi laudantium eveniet saepe expedita facere, voluptas
      odit illo nobis blanditiis totam deserunt fugit obcaecati perspiciatis
      optio odio debitis iste magni voluptatum nemo ipsum, molestias veritatis
      et! Pariatur temporibus exercitationem optio laborum! Omnis sunt tempora
      accusantium, distinctio optio ex, eius alias non consectetur repellendus
      nesciunt rem, obcaecati odio.
      <br />
      <br />
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, cum
      voluptates molestiae quae exercitationem aliquam ex culpa eveniet vitae
      tempora sapiente veritatis? Reiciendis, debitis minus. Incidunt quasi ad
      nihil doloremque inventore obcaecati ut assumenda nesciunt! Quis, in
      voluptatem quos obcaecati magnam quaerat sapiente aliquid, sit,
      repellendus tempore voluptas ullam animi.
      <br />
      <br />
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore ipsum
      voluptates incidunt dolorum minus doloremque eaque quia nobis, quisquam
      adipisci nihil perferendis cupiditate, quos ut odit cumque, doloribus
      ipsam enim obcaecati necessitatibus. Animi, itaque odio blanditiis ex
      consequatur est doloribus minus atque, ea labore hic velit? Quia modi
      ratione laborum aperiam nulla saepe, a perspiciatis temporibus eaque
      consectetur sed molestiae in dicta at beatae repellat. Fugiat vitae
      aspernatur dicta laborum.
      <br />
      <br />
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque, amet
      distinctio laudantium aspernatur similique dicta enim totam a soluta
      ducimus tempore? Distinctio non amet quasi, illo ratione officia et
      laboriosam dicta veritatis laborum, sint pariatur corrupti praesentium.
      Distinctio quisquam eius atque debitis quae commodi saepe optio sit animi
      repudiandae repellendus aut vero deserunt pariatur harum, est illum
      laborum autem delectus?
    </div>
  </body>
</html>
